<div class="container text-center">
    <div>Some tags before</div>
        <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide><img src="../../assets/img/logos/arlington_police_logo.jpg"></ng-template>  
        <ng-template carouselSlide><img src="../../assets/img/logos/coppell_police_logo.jpg"></ng-template>  
        <ng-template carouselSlide><img src="../../assets/img/logos/downtown_dallas_inc_logo.jpg"></ng-template>  
        <ng-template carouselSlide><img src="../../assets/img/logos/farmers_branch_pd_logo.jpg"></ng-template>
        <ng-template carouselSlide><img src="../../assets/img/logos/georgetown_police_logo.jpg"></ng-template>
        <ng-template carouselSlide><img src="../../assets/img/logos/grand_prairie_pd_logo.jpg"></ng-template>
        <ng-template carouselSlide><img src="../../assets/img/logos/lemit_law_logo.jpg"></ng-template>
        <ng-template carouselSlide><img src="../../assets/img/logos/metroclean_logo.jpg"></ng-template>
        <ng-template carouselSlide><img src="../../assets/img/logos/southwest_logo.jpg"></ng-template>
        <ng-template carouselSlide><img src="../../assets/img/logos/taylor_guitars_logo.jpg"></ng-template>
        <ng-template carouselSlide><img src="../../assets/img/logos/twu_logo.jpg"></ng-template>
        <ng-template carouselSlide><img src="../../assets/img/logos/unt_police_dept_logo.jpg"></ng-template>
      </owl-carousel-o>
      <div>Some tags after</div>
    </div>
